.hoursPageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin: 10% 22% 15% 22%;
    }

    h1{
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 3%;
    }

    p {
        margin: 10% 27% 10% 27%;
    }

    button {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        margin-bottom: 8%;
    }

}