.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    justify-content: space-evenly;
    button {
        margin-top: 8%;
        margin-bottom: 7%;
        font-size: 1.05rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }
}

.finishButton {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        margin-left: 17%;
        margin-right: 17%;
        margin-bottom: 10%;
        background-color: #895076;
        font-size: 1rem;
    }
}

.mapContainer {
    height: 65vh;
}