.progressTrackerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 15% 23% 7% 23%;
    }

    h2 {
        margin: 5% 18% 10% 18%;
    }
}

.mapContainer{
    height: 32vh;
}

.photoMissionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        margin-top: 15%;
        margin-bottom: 8%;
    }

    img {
        margin: 5% 16% 5% 16%;
        border-radius: 1.7rem;
        height: 30%;
        width: 68%;
        box-shadow: #818178 2px 4px 10px;
    }
}

