.photoMissionPageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin-top: 23%;
        margin-bottom: 12%;
    }

    h2 {
        margin-bottom: 6%;
    }

    button {
        margin: 10% 27% 8% 27%;
    }
}

.imagePurpleButton {
    background-color: #503047;
    color: #E7D8C5;
    cursor: pointer;
    text-align: center;
    font-family: Kalnia, serif;
    font-weight: 390;
    font-size: 1.2rem;
    padding: 2rem;
    margin: 0% 27% 10% 27%;
    border-radius: 2rem;
    box-shadow: #806d7a 4px 4px 7px;
    border: none;
}